a {
    text-decoration: none;
}

.result {
    background: linear-gradient(45deg, #483278 30%, #8061a8, #483278);
    color: white;
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding-top: 85px;
    padding-bottom: 25px;
}

.titleC {
    width: 100%;
    margin-bottom: 30px;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 20px;
    text-align: center;
}

.titleC > .name {
    font-size: 40px;
    font-family: 'GangwonEduPowerExtraBoldA';
    margin-top: 14px;
}

.cont {
    width: 78%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    border-radius: 10px;
    padding: 20px 24px;
    text-align: center;
    font-family: 'GangwonEdu_OTFBoldA';
    color: #000;
    margin-bottom: 10px;
}
@media screen and (min-width: 601px) {
    .cont {
        width: 550px;
        box-sizing: border-box;
    }
}

.cont > .img {
    width: 264px;
    height: 264px;
    margin: auto;
}

.cont > .img > img {
    width: 264px;
    height: 264px;
}

.cont > .phrase {
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 32px;
    color: #483278;
}

.cont > .quote {
    text-align: left;
    line-height: 30px;
    border-left: 3px solid #483278;
    padding: 5px 15px;
}

.cont > .char-header {
    font-size: 18px;
    font-family: 'GangwonEduPowerExtraBoldA';
    text-align: left;
    padding-left: 10px;
}

.cont > .char {
    list-style: circle;
    padding-left: 20px;
    width: 94%;
}

.cont > .char > li {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 8px;
    line-height: 26px;
}

.cont > .info {
    width: 100%;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cont .btn {
    width: 198px;
    height: 52px;
    background-color: #483278;
    color: white;
    line-height: 56px;
    font-size: 20px;
    border-radius: 34px;
    margin: auto;
    margin-top: 30px;
    text-shadow: -1px 0px #9068e5, 0px 1px #9068e5, 1px 0px #9068e5, 0px -1px #9068e5;
    box-shadow: 0 0 3px #483278;
    text-align: center;
}

.cont .btn._1 {
    margin-top: 40px;
}

.cont .btn._2 {
    margin-bottom: 40px;
}

hr {
    background-color: rgba(123, 115, 132, 0.4);
    height: 2px;
    border: 0;
    margin: 30px 0;
}

.promotion {
    text-align: left;
}

.pro-title {
    font-family: 'GangwonEduPowerExtraBoldA';
    font-size: 18px;
    margin-bottom: 20px;
}

.pro-cont {
    line-height: 30px;
    color: #000000;
    border-radius: 10px;
}

.pro-cont > span {
    color: #7811ff;
}

.pro-sub {
    margin: 20px 0;
}

.pro.btn {
    font-size: 16px;
    text-align: center;
}

.logo {
    font-family: 'GangwonEdu_OTFBoldA';
    padding: 16px;
    text-align: center;
    color: #8a8196;
}

.description {
    font-family: 'GangwonEduPowerExtraBoldA';
    color: #483278;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    width: 80%;
}

.funding {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.phoneForm {
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
}

.phoneNum {
    padding: 14px 12px;
    outline: none;
    border: none;
    background: #fff;
    width: 85%;
    box-sizing: border-box;
}
.phoneSub {
    width: 15%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}
