@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}


.Start{
    background: linear-gradient(45deg, #483278 30%, #8061A8, #483278);
    color: white;
    padding: 242px 0;
    height: 100vh;
}

.titleCont {
    text-align: center;
    font-family: 'GangwonEdu_OTFBoldA';
    text-shadow: 0 0 10px #4807d3;
}

.title {
    font-size: 35px;
    margin-bottom: 16px;
    line-height: 50px;
    
}

.deco {
    width: 360px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    filter: blur(70px);
    -webkit-filter: blur(70px);
    position: absolute;
    top: 20%;
    z-index: -1;
}

.btnCont {
    text-align: center;
    margin-top: 170px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 1;
}

.startBtn {
    background-color: rgba(255, 255, 255, 0.3);
    border: rgba(255, 255, 255, 0.33);
    color: white;
    width: 246px;
    height: 65px;
    border-radius: 35px;
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 30px;
    line-height: 70px;
    text-shadow: #9068E5 0 0 8px;
}

.join, .copy {
    font-family: 'SUIT-Medium';
}

.join {
    font-size: 15px;
    margin-top: 8px;
}

.copy {
    color: #9082AD;
    font-size: 12px;
    margin-top: 20px;
}

.img {
    width: 100vw;
    position: absolute;
    bottom: 0;
    
}